@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Indie Flower", cursive;
}

.section1 {
	display: flex;

	margin-top: 97px;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	padding: 30px;
	margin-left: center;
}

.section2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 75px;
	padding-bottom: 100px;
	background-color: #f7f7f7;
}

button {
	cursor: pointer;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 31px;

	color: #1b1485;

	border: 2px solid #1b1485;
	box-sizing: border-box;
	border-radius: 62px;
}

.ilustra-banner {
	margin-top: 150px;
}

.section2 .ilustra-sec2 img {
	margin-bottom: 20px;
}

.section2 h3 {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 29px;
	margin-bottom: 10px;
	color: #1b1485;
	margin-left: center;
}

.section2 p {
	width: 230px;

	font-family: Ubuntu;
	font-size: 17px;
	font-style: normal;
	font-weight: auto;
	line-height: 20px;
	letter-spacing: 0em;
	color: #000000;
	margin-bottom: 30px;
	margin-left: center;
}

.section2 button {
	cursor: pointer;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	/* text-align: center; */

	color: #ffffff;
	background: #1b1485;
	border-radius: 62px;
}

.top-button {
	position: fixed;
	margin-bottom: 150px;
	left: 15px;
	bottom: 15px;
	background: rgba(1, 1, 46, 0.192);
	color: rgb(1, 1, 46);
	padding: 12px;
	width: 70px;
	height: 70px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-button > a {
	text-decoration: none;
	color: rgb(1, 1, 46);
	display: flex;
	justify-content: center;
	align-items: flex-end;
	text-align: center;
}

@media only screen and (max-width: 480px) {
	.ilustra-banner {
		max-width: 80%;
		margin-right: 270px;
	}
	.banner h1 {
		margin-top: 100px;
	}

	.section2 .ilustra-sec2 img {
		max-width: 80%;
		margin-left: 30px;
		margin-top: 80px;
	}

	.section2 h3 {
		margin-left: center;
	}

	.section2 p {
		margin-left: center;
		margin-top: 10px;
	}
	.section2 button {
		margin-left: center;
	}
}

@media only screen and (max-width: 1000px) {
	.ilustra-banner {
		max-width: 80%;
		margin-right: 100px;
	}
	.banner h1 {
		margin-top: 150px;
	}

	.section2 .ilustra-sec2 img {
		max-width: 80%;
		margin-top: 80px;
		margin-left: center;
	}
}
